@charset "utf-8";
.tarjeta{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  width:300px;
  border: 2px solid lightgray;
  box-shadow: 1px 1px 1px 2px #f3f0f0d1;
  border-radius:15px;
  font-family: sans-serif;
  padding-left: 23px;
  
}
.titulo{
  font-size: 24px;
  padding: 10px 10px 0 10px;;
}
.cuerpo{
  padding: 10px;
  padding-left: 23px;
}
.pie{
  background: #6699ff;
  border-radius:0 0 15px 15px;
  padding: 10px;
  text-align:center;
}
.pie a{
  text-decoration: none;
  color: white;
}
.pie a:after {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
  padding-left: 23px;
}
    .orden{
        display: inline-block;
        padding: 0px;
        position: relative;
        left: 190px;
        bottom: -20px;
        padding-block-start: 23px;
    }



    .user{
      float: left; width: 6em; height: 4em; margin-right: 1em; 
    }