
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/status.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
.fondo {
    background-color: hwb(180 70% 10%);
  }

  h2 {
    clear: both;
  }
  img.izquierda {
    float: left;
    margin-right: 20px;
  }
  
  img.derecha {
    float: right;
    margin-left: 20px;
  }
  .textarea { width: 1000px; height: 200px; float: center; }
  .resizedTextbox {width: 100px; height: 20px}

  .desplazadoimg {
    background-color: white;
    position: relative;
    left: 155px;
    width: 650px;
    height: 450px;
    bottom: 150px;
  
}

.portimg {
    display:block;
margin:auto;
    width: 1050px;
    height: 350px;
}

.textomapadescrip{
    width: 200px; height: 400px;
    float:right;
    background-color: white;
    text-align:center;
    position: relative;
    left: -250px;
    bottom: 100px;
  }
  .portdiv{  position: relative;
    bottom: 190px;}
.container1{
        width: 900px;
        text-align:center;
        position: relative;
        left: 190px;
    }
    .title_nos{
        font-size:150%;
    }